# MongoDB
MONGODB_URI=mongodb://mongodb:27017

# Blog Platform
BLOG_PLATFORM_SERVER_PORT=5005
BLOG_PLATFORM_CLIENT_PORT=5173
BLOG_PLATFORM_CLIENT_ORIGIN=http://localhost:5173

# Calendar App
CALENDAR_APP_SERVER_PORT=5002
CALENDAR_APP_CLIENT_PORT=5174
CALENDAR_APP_CLIENT_ORIGIN=http://localhost:5174

# Code Snippets
CODE_SNIPPETS_SERVER_PORT=5003
CODE_SNIPPETS_CLIENT_PORT=5175
CODE_SNIPPETS_CLIENT_ORIGIN=http://localhost:5175

# Music Playlist
MUSIC_PLAYLIST_SERVER_PORT=5007
MUSIC_PLAYLIST_CLIENT_PORT=5176
MUSIC_PLAYLIST_CLIENT_ORIGIN=http://localhost:5176

# News Aggregator
NEWS_AGGREGATOR_SERVER_PORT=5001
NEWS_AGGREGATOR_CLIENT_PORT=5177
NEWS_AGGREGATOR_CLIENT_ORIGIN=http://localhost:5177

# Real Estate
REAL_ESTATE_SERVER_PORT=5006
REAL_ESTATE_CLIENT_PORT=5178
REAL_ESTATE_CLIENT_ORIGIN=http://localhost:5178

# Todo App
TODO_APP_SERVER_PORT=5000
TODO_APP_CLIENT_PORT=5179
TODO_APP_CLIENT_ORIGIN=http://localhost:5179

# Weather App
WEATHER_APP_SERVER_PORT=5004
WEATHER_APP_CLIENT_PORT=5180
WEATHER_APP_CLIENT_ORIGIN=http://localhost:5180
